<h4 class="text-center" id='username'>Display Name: {{posts.[0].user.username }}</h4>
<div id="chatboxEl" class="py-2 px-5 chatbox">
<ul id='messages'>Chat Messages:</ul>
</div>
<form id='chat-form' onsubmit='return sendMessage();'>
  <input
    id='chat-message'
    placeholder='Enter message'
    autocomplete='off'
  />
  <input type='submit' class="btn btn-primary" />
</form>

<script
  src='https://www.gstatic.com/firebasejs/5.8.6/firebase-app.js'
></script>
<script
  src='https://www.gstatic.com/firebasejs/5.8.6/firebase-database.js'
></script>
<script
  src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'
></script>
<script src='/javascript/chat.js'></script>