<div class="comments">
  {{#each this}}
  <div class="card" style="width: 18rem;">
    <img src='../../images/user_{{random_num 1 4}}.png'  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{user.username}} on {{format_date created_at}}</h5>
      <p class="card-text">{{comment_text}}</p>
    </div>
  </div>
  {{/each}}
</div>

