<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <link
      rel='shortcut icon'
      href='https://www.svgrepo.com/show/387231/connect.svg'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>CoD Connect</title>
  </head>

  <body>
    <nav
      class='navbar sticky-top navbar-expand-lg navbar-dark bg-dark'
    >
      <a id='logo' class='navbar-brand' href='/'>
        <img src='/images/logo2.png' alt='...' height='156' />
      </a>
      <button
        class='navbar-toggler'
        type='button'
        data-toggle='collapse'
        data-target='#navbarNav'
        aria-controls='navbarNav'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>
      <div
        class='collapse navbar-collapse justify-content-center'
        id='navbarNav'
      >

        <ul class='navbar-nav'>
          <li class='nav-item active'>
            <a class='nav-link' href='/'>Home
              <span class='sr-only'>(current)</span></a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/dashboard'>Dashboard</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/forum'>Forum</a>
          </li>
          <li class='nav-item'>
            {{#if loggedIn}}
              <a class='nav-link' href='' id='logout'>Logout</a>
            {{else}}
              <a class='nav-link' href='/login'>Login</a>
            {{/if}}
          </li>
        </ul>
      </div>
    </nav>

    <div id='fixedElement' class='container landingMain'>

      <main>
        {{{body}}}
      </main>

    </div>
    <footer class='row mt-4 justify-content-center'>
      <div class='landingFooter container column'>
        <a href='/about-us' id='about'>About Our Team
          <br />
          &copy; 2022</a>
        <div class='flex-column'>
          <div class='flex-column site-map'>
            <a
              href='https://github.com/benjamind10'
              target='_blank'
            >Ben Duran</a>
            <a
              href='https://github.com/natejboucher'
              target='_blank'
            >Nate Boucher</a>
            <a
              href='https://github.com/Villdevitchoff'
              target='_blank'
            >Victor Lindbloom</a>
            <a
              href='https://github.com/WBrooks28'
              target='_blank'
            >Will Brooks</a>
          </div>
        </div>
        <div class='flex-column site-map'>
          <a href='/home'>Home</a>
          <a href='/dashboard'>Dashboard</a>
          <a href='/forum'>Forum</a>
          <a href='/login'>Login/Logout</a>
        </div>

      </div>
    </footer>

    <script src='/javascript/logout.js'></script>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p'
      crossorigin='anonymous'
    ></script>

  </body>

</html>