<div class='container'>
  <div class='row'>
    <div class='col-sm'>
      <div class='card' style='width: 18rem;'>
        <img
          src='./images/benavatar.jpg'
          class='card-img-top'
          alt='ben avatar'
        />
        <div class='card-body'>
          <h5 class='card-title'>Ben Duran</h5>
          <p class='card-text'>
            I am a Front-End developer aspiring to be a Full-Stack
            developer, My hobbies are PC gaming and spending time with
            my son.</p>
        </div>
      </div>
    </div>
    <div class='col-sm'>
      <div class='card' style='width: 18rem;'>
        <img
          src='./images/nateavatar.jpg'
          class='card-img-top'
          alt='nate avatar'
        />
        <div class='card-body'>
          <h5 class='card-title'>Nate Boucher</h5>
          <p class='card-text'>
            I am a Front-End developer aspiring to be a Full-Stack
            developer, My hobbies are PC gaming and spending time with
            my son.</p>
        </div>
      </div>
    </div>
    <div class='col-sm'>
      One of three columns
    </div>
  </div>
</div>