<div class='container'>
  <div class='row'>
    <div class='col-sm'>
      <div class='card' style='width: 18rem;'>
        <img
          src='./images/benavatar.jpg'
          class='card-img-top'
          alt='ben avatar'
        />
        <div class='card-body'>
          <h5 class='card-title'>Ben Duran</h5>
          <p class='card-text'>
            I am a Front-End developer aspiring to be a Full-Stack
            developer. My hobbies are PC gaming and spending time with
            my son.
          </p>
        </div>
      </div>
    </div>
    <div class='col-sm'>
      <div class='card' style='width: 18rem;'>
        <img
          src='./images/willavatar.png'
          class='card-img-top'
          alt='nate avatar'
        />
        <div class='card-body'>
          <h5 class='card-title'>William Brooks</h5>
          <p class='card-text'>
            Pittsburgh based full stack web developer. Currently
            studying at the University of Richmond coding bootcamp.
            Avid gamer, Dungeon Master, and home cook.</p>
        </div>
      </div>
    </div>
    <div class='col-sm'>
      <div class='card' style='width: 18rem;'>
        <img
          src='./images/willavatar.png'
          class='card-img-top'
          alt='nate avatar'
        />
        <div class='card-body'>
          <h5 class='card-title'>Victor Lindbloom</h5>
          <p class='card-text'>
            Pittsburgh based full stack web developer. Currently
            studying at the University of Richmond coding bootcamp.
            Avid gamer, Dungeon Master, and home cook.</p>
        </div>
      </div>
    </div>
    <div class='col-sm'>
      <div class='card' style='width: 18rem;'>
        <img
          src='./images/nateavatar.jpg'
          class='card-img-top'
          alt='nate avatar'
        />
        <div class='card-body'>
          <h5 class='card-title'>Nate Boucher</h5>
          <p class='card-text'>
            My passion is creating a modern and minimalistic UI, while
            still being visually entertaining for the user. I’m
            currently enrolled in the University of Richmond’s Coding
            Bootcamp.</p>
        </div>
      </div>
    </div>
  </div>
</div>