<!-- Stars section -->
        <section class="row justify-content-center">
            <div class="col-6 mt-5 p-3">
                <img src="/images/fivestar.svg">
            </div>
        </section>
<!-- User Dashboard -->
<section>
  <!-- Section for your user information -->
  <div class="row justify-content-center mt-4">
    <div class="col-12 col-md-10 user-info">
      <h3 class="text-center">{{username}}'s Dashboard</h3>
    </div>
  </div>
</section>

<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
{{#if gamereleases.length}}
<div>
  {{#each gamereleases as |game|}}
  {{> game-releases}}
  {{/each}}
</div>
{{/if}}
<script src="/javascript/add-post.js"></script>
//test config

