<!-- Stars section -->
        <section class="row justify-content-center">
            <div class="col-6 mt-5 p-3">
                <img src="/images/fivestar.svg">
            </div>
        </section>
<!-- User Dashboard -->
<section>
  <!-- Section for your user information -->
  <div class="row justify-content-center mt-4">
    <div class="col-12 col-md-10 pt-4 user-info">
      <h3 class="text-center">{{username}}'s Dashboard</h3>
    </div>
  </div>
</section>

<section>
  <!-- Section for forum (casual/competitive) -->
  <div class="row justify-content-center mt-2 w-100">
    
    <!--User Casual Post tab -->
    <div class="post-container" id="myTabContent">
      <div class="row justify-content-center tab-pane fade show active dashboard-tab p-3" id="user-casual"
        role="tabpanel" aria-labelledby="user-casual">
        <div class="col-12">
        <!--Form for creating new post-->
        <form class="new-post-form">
          <div class="mb-3">
            <label for="casual-post-title" class="form-label">Post Title</label>
            <input type="text" class="form-control" id="casual-post-title">
          </div>
          <div class="mb-3">
            <label for="casual-post-content" class="form-label">Post Content</label>
            <textarea class="form-control" id="casual-post-content" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-secondary">Create Post</button>
        </form>
        </div>

        <!-- Display created posts -->
        <section class="col-12 mt-3">
          <h2 class="mb-4 text-secondary">Your Posts</h2>
          <ol>
            {{#each posts as |post|}}
            <li>
              {{> post-info post}}
              <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
            </li>
            {{/each}}
          </ol>
        </section>
      </div>
  </div>
</section>
<script src="/javascript/add-post.js"></script>