<!-- Stars section -->
<section class="row justify-content-center">
    <div class="col-6 mt-5 p-3">
        <img src="./images/fivestar.svg">
    </div>
</section>

<!-- Section for forum (casual/competitive) -->
<section>
    <div class="row justify-content-center mt-2">
        <div class="post-container" id="myTabContent">
            <!-- Div for Casual Posts -->
            <div class="tab-pane fade show active forum-div" id="casual" role="tabpanel" aria-labelledby="casual-tab">
                <ol class="post-list">
               
                    {{#each posts as |post|}}
                    <li>
                        {{> post-info post }}
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
</section>