<ol class="post-list">
  {{#each releases.[0].results as |release|}}
  <li>
    {{log release}}
    {{> game-releases release}}
  </li>
  {{/each}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>


<!-- Stars section -->
<section class="row justify-content-center">
  <div class="col-6 mt-5 p-3">
    <img src="./images/fivestar.svg">
  </div>
</section>
<!-- Homepage -->
<section class="row justify-content-center">
  <div class="col-12 col-md-6">
    <div class="row">
      <div class="col-12 my-2 p-2 home-news">
        This is the news div
      </div>
    </div>
    <div class="row">
      <div class="col-12 my-2 p-2 home-leaderboard">
        This is the leaderboard div.
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 p-2">
    <div class="chatroom p-2">
      This is the chatrooom
    </div>
  </div>
</section>
