<ol class="post-list">
  {{#each releases.[0].results as |release|}}
  <li>
    {{> game-releases release}}
  </li>
  {{/each}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>