<!-- Stars section -->
<section class="row justify-content-center">
  <div class="col-6 mt-5 p-3">
    <img src="./images/fivestar.svg">
  </div>
</section>
<!-- Homepage -->

<section class="row justify-content-center">
  <div class="chatroom col-12 p-3 m-2">
    {{> chat}}
  </div>
  <div class="col-12">
      <section class="row justify-content-center">
      {{#each response as |release|}}
      <div class="news-card">

        {{> game-releases release}}
      </div>
      {{/each}}
    </section>
  </div>

</section>

<script src="/javascript/homepage.js"></script>