<!-- About section -->
<section class='row justify-content-center'>
  <div class='col-6 mt-5 p-3 landingAbout'>
    <img class='pb-2' src='./images/fivestar.svg' />
    <span class='aboutText'>
      <p>Welcome to CoD Connect ! All soldiers and shooters. You have
        arrived to the ultimate connection site where players of every
        echelon and four corners of the world make contact, meet,
        chat, and get connected. Lock and load , soldier! There is one
        more simple step to easily sign up for free below.
      </p>
    </span>
  </div>
</section>
<!-- Login/Signup -->
<section
  class='row justify-content-center p-4 rounded mt-3 formContainer'
>
  <div class='col-12 col-md-6 p-4 signupDiv'>
    <h5 class='text-center pb-2'>Signup and find your squad today!</h5>
    <form class='signupForm' id='signup-form'>
      <div class='mb-2'>
        <label for='username' class='form-label'>Username:</label>
        <input
          type='text'
          class='form-control form-control-sm'
          id='username-signup'
          placeholder='Username'
        />
      </div>
      <div class='mb-2'>
        <label for='email' class='form-label'>Email:</label>
        <input
          type='email'
          class='form-control form-control-sm'
          id='email-signup'
          placeholder='user@email.com'
        />
      </div>
      <div class='mb-2'>
        <label for='password' class='form-label'>Password</label>
        <input
          type='password'
          class='form-control form-control-sm'
          id='password-signup'
          placeholder='Password'
        />
      </div>
      <div>
        <button type='submit' class='btn btn-dark'>Signup</button>
      </div>
    </form>
  </div>
  <div class='col-12 col-md-6 p-4 loginDiv'>
    <h5 class='text-center pb-2'>Sign in to join your squad!</h5>
    <form class='sign-inForm pt-3' id='login-form'>
      <div class='mb-2 mb-md-4'>
        <label for='email' class='form-label'>Email:</label>
        <input
          type='email'
          class='form-control form-control-sm'
          id='email-login'
          placeholder='user@email.com'
        />
      </div>
      <div class='mb-2 mb-md-5'>
        <label for='password' class='form-label'>Password:</label>
        <input
          type='password'
          class='form-control form-control-sm'
          id='password-login'
          placeholder='Password'
        />
      </div>
      <div>
        <button type='submit' class='btn btn-dark'>Login</button>
      </div>
    </form>
  </div>
</section>
<script src='/javascript/login.js'></script>