{{> post-info post}}


{{#if loggedIn}}
<div>
  <div>
    <form class="comment-form">
      <div class="input-group">
          <button type="submit" class="btn btn-primary">Add Comment</button>
        <textarea name="comment-body" class="form-control" aria-label="With textarea"></textarea>
          <button type="button" class="btn btn-success upvote-btn">Up Vote</button>
      </div>
    </form>

  </div>
</div>
{{/if}}
<br>
<div>
  {{> comments post.comments}}
  
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}
